cassandra-driver==3.25.0
certifi==2021.10.8
click
colorama==0.4.4
cycler
Flask
Flask-Cors
fonttools
geomet
importlib-metadata
itsdangerous
Jinja2
joblib
kiwisolver
kneed
MarkupSafe
matplotlib
numpy
packaging
pandas
Pillow
pip
pyparsing
python-dateutil
python-dotenv
pytz
scikit-learn
scipy
setuptools
six
sklearn
threadpoolctl
typing_extensions
Werkzeug
wheel
wincertstore
xgboost
xlrd
xlwt
zipp
pytest
